ingress:
  enabled: true
  className: nginx

  hosts:
    - host: dev.fullstack.local
      paths:
        - path: /
          pathType: Prefix
          service:
            name: frontend
            port: 80
        - path: /api
          pathType: Prefix
          service:
            name: backend
            port: 3000
